.App{
  /* text-align: center; */
}
.table{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tableheadrow{
line-height: 30px;
padding: 5px 10px;
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 5px 0px 5px 0px;
background-color: #a7a7a7;
}

.home-page{
  width: 500px;
}
tr{
  width: 500px;
  border: 1px solid black;
}
.links{
  margin: 0px 50px !important;
}
.tableDATA{
  display: flex;
  flex-direction: row;
  background-color: #a7a7a7;
}
ul li{
  list-style: none;
  display: flex;
}
.add-form{
  display: flex;
  flex-direction: column;
  height: 500px;
  align-items: flex-start;
  width: 500px;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
}
.edit-form{
  display: flex;
  flex-direction: column;
  height: 500px;
  align-items: flex-start;
  width: 500px;
}
